In [1]:
# UN_Geosheme_Subregion = ['Australia and New Zealand','Caribbean','Central America','Central Asia','Eastern Africa','Eastern Asia','Eastern Europe','Melanesia','Micronesia','Middle Africa','Northern Africa','Northern America','Northern Europe','Polynesia','South America','South-Eastern Asia','Southern Africa','Southern Asia','Southern Europe','Western Africa','Western Asia','Western Europe']

In [27]:
import os
import pandas as pd
from pathlib import Path
from functools import reduce

In [3]:
DATASET_FOLDER = '../../datasets/tempetes/Temperatures_Projections'

In [4]:
arr = os.listdir(DATASET_FOLDER)
print(arr)

['AverageTemp', 'TempMax', 'TempMin']

In [5]:
DATASET_FOLDER_AVG_RCP26 = '../../datasets/tempetes/Temperatures_Projections/AverageTemp/RCP26'

In [6]:
arr = os.listdir(DATASET_FOLDER_AVG_RCP26)
print(arr)

['.projection_temp_clean_FRA.csv.swp', 'projection_temp_clean_AFG.csv', 'projection_temp_clean_AGO.csv', 'projection_temp_clean_AIA.csv', 'projection_temp_clean_ALB.csv', 'projection_temp_clean_ARE.csv', 'projection_temp_clean_ARG.csv', 'projection_temp_clean_ARM.csv', 'projection_temp_clean_ASM.csv', 'projection_temp_clean_AUS.csv', 'projection_temp_clean_AUT.csv', 'projection_temp_clean_AZE.csv', 'projection_temp_clean_BDI.csv', 'projection_temp_clean_BEL.csv', 'projection_temp_clean_BEN.csv', 'projection_temp_clean_BFA.csv', 'projection_temp_clean_BGD.csv', 'projection_temp_clean_BGR.csv', 'projection_temp_clean_BHS.csv', 'projection_temp_clean_BIH.csv', 'projection_temp_clean_BLR.csv', 'projection_temp_clean_BLZ.csv', 'projection_temp_clean_BOL.csv', 'projection_temp_clean_BRA.csv', 'projection_temp_clean_BRB.csv', 'projection_temp_clean_BTN.csv', 'projection_temp_clean_BWA.csv', 'projection_temp_clean_CAF.csv', 'projection_temp_clean_CAN.csv', 'projection_temp_clean_CHE.csv', 'projection_temp_clean_CHL.csv', 'projection_temp_clean_CHN.csv', 'projection_temp_clean_CIV.csv', 'projection_temp_clean_CMR.csv', 'projection_temp_clean_COG.csv', 'projection_temp_clean_COL.csv', 'projection_temp_clean_COM.csv', 'projection_temp_clean_CPV.csv', 'projection_temp_clean_CRI.csv', 'projection_temp_clean_CUB.csv', 'projection_temp_clean_CZE.csv', 'projection_temp_clean_DEU.csv', 'projection_temp_clean_DJI.csv', 'projection_temp_clean_DOM.csv', 'projection_temp_clean_DZA.csv', 'projection_temp_clean_ECU.csv', 'projection_temp_clean_EGY.csv', 'projection_temp_clean_ERI.csv', 'projection_temp_clean_ESP.csv', 'projection_temp_clean_ETH.csv', 'projection_temp_clean_FIN.csv', 'projection_temp_clean_FJI.csv', 'projection_temp_clean_FRA.csv', 'projection_temp_clean_FSM.csv', 'projection_temp_clean_GAB.csv', 'projection_temp_clean_GBR.csv', 'projection_temp_clean_GEO.csv', 'projection_temp_clean_GHA.csv', 'projection_temp_clean_GIN.csv', 'projection_temp_clean_GLP.csv', 'projection_temp_clean_GMB.csv', 'projection_temp_clean_GNB.csv', 'projection_temp_clean_GRC.csv', 'projection_temp_clean_GRD.csv', 'projection_temp_clean_GTM.csv', 'projection_temp_clean_GUF.csv', 'projection_temp_clean_GUY.csv', 'projection_temp_clean_HKG.csv', 'projection_temp_clean_HND.csv', 'projection_temp_clean_HRV.csv', 'projection_temp_clean_HTI.csv', 'projection_temp_clean_HUN.csv', 'projection_temp_clean_IDN.csv', 'projection_temp_clean_IND.csv', 'projection_temp_clean_IRL.csv', 'projection_temp_clean_IRN.csv', 'projection_temp_clean_IRQ.csv', 'projection_temp_clean_ISL.csv', 'projection_temp_clean_ISR.csv', 'projection_temp_clean_ITA.csv', 'projection_temp_clean_JAM.csv', 'projection_temp_clean_JOR.csv', 'projection_temp_clean_JPN.csv', 'projection_temp_clean_KAZ.csv', 'projection_temp_clean_KEN.csv', 'projection_temp_clean_KGZ.csv', 'projection_temp_clean_KHM.csv', 'projection_temp_clean_KIR.csv', 'projection_temp_clean_KNA.csv', 'projection_temp_clean_KOR.csv', 'projection_temp_clean_KWT.csv', 'projection_temp_clean_LAO.csv', 'projection_temp_clean_LBN.csv', 'projection_temp_clean_LBR.csv', 'projection_temp_clean_LBY.csv', 'projection_temp_clean_LCA.csv', 'projection_temp_clean_LKA.csv', 'projection_temp_clean_LSO.csv', 'projection_temp_clean_LTU.csv', 'projection_temp_clean_LUX.csv', 'projection_temp_clean_MAR.csv', 'projection_temp_clean_MDA.csv', 'projection_temp_clean_MDG.csv', 'projection_temp_clean_MDV.csv', 'projection_temp_clean_MEX.csv', 'projection_temp_clean_MHL.csv', 'projection_temp_clean_MKD.csv', 'projection_temp_clean_MLI.csv', 'projection_temp_clean_MMR.csv', 'projection_temp_clean_MNE.csv', 'projection_temp_clean_MNG.csv', 'projection_temp_clean_MOZ.csv', 'projection_temp_clean_MRT.csv', 'projection_temp_clean_MUS.csv', 'projection_temp_clean_MWI.csv', 'projection_temp_clean_MYS.csv', 'projection_temp_clean_NAM.csv', 'projection_temp_clean_NER.csv', 'projection_temp_clean_NGA.csv', 'projection_temp_clean_NIC.csv', 'projection_temp_clean_NLD.csv', 'projection_temp_clean_NOR.csv', 'projection_temp_clean_NPL.csv', 'projection_temp_clean_NZL.csv', 'projection_temp_clean_OMN.csv', 'projection_temp_clean_PAK.csv', 'projection_temp_clean_PAN.csv', 'projection_temp_clean_PER.csv', 'projection_temp_clean_PHL.csv', 'projection_temp_clean_PNG.csv', 'projection_temp_clean_POL.csv', 'projection_temp_clean_PRI.csv', 'projection_temp_clean_PRK.csv', 'projection_temp_clean_PRT.csv', 'projection_temp_clean_PRY.csv', 'projection_temp_clean_PSE.csv', 'projection_temp_clean_PYF.csv', 'projection_temp_clean_QAT.csv', 'projection_temp_clean_RUS.csv', 'projection_temp_clean_RWA.csv', 'projection_temp_clean_SAU.csv', 'projection_temp_clean_SDN.csv', 'projection_temp_clean_SEN.csv', 'projection_temp_clean_SLB.csv', 'projection_temp_clean_SLE.csv', 'projection_temp_clean_SLV.csv', 'projection_temp_clean_SOM.csv', 'projection_temp_clean_SRB.csv', 'projection_temp_clean_SUR.csv', 'projection_temp_clean_SVK.csv', 'projection_temp_clean_SVN.csv', 'projection_temp_clean_SWE.csv', 'projection_temp_clean_SWZ.csv', 'projection_temp_clean_SYC.csv', 'projection_temp_clean_SYR.csv', 'projection_temp_clean_TCD.csv', 'projection_temp_clean_TGO.csv', 'projection_temp_clean_THA.csv', 'projection_temp_clean_TJK.csv', 'projection_temp_clean_TKM.csv', 'projection_temp_clean_TLS.csv', 'projection_temp_clean_TTO.csv', 'projection_temp_clean_TUN.csv', 'projection_temp_clean_TUR.csv', 'projection_temp_clean_TWN.csv', 'projection_temp_clean_TZA.csv', 'projection_temp_clean_UGA.csv', 'projection_temp_clean_UKR.csv', 'projection_temp_clean_URY.csv', 'projection_temp_clean_USA.csv', 'projection_temp_clean_UZB.csv', 'projection_temp_clean_VCT.csv', 'projection_temp_clean_VEN.csv', 'projection_temp_clean_VNM.csv', 'projection_temp_clean_VUT.csv', 'projection_temp_clean_WSM.csv', 'projection_temp_clean_YEM.csv', 'projection_temp_clean_ZAF.csv', 'projection_temp_clean_ZMB.csv', 'projection_temp_clean_ZWE.csv']

In [7]:
len(arr)

180

# Concatenate avg, min, max temperatures into 4 distinct csv, each one for a scenario

### RCP26

### Average monthly temperatures

In [8]:
def get_concatenated_projections_avg(DATASET_FOLDER):
    dir = Path(DATASET_FOLDER)
    dfs_list = []
    for f in dir.glob("*.csv"):
        df = pd.read_csv(f)
        df["ISO"] = str(f).split("_")[-1].split(".")[0]
        dfs_list.append(df)
    df_final = pd.concat(dfs_list)
    df_final = df_final.rename(columns={"Monthly Temperature - (Celsius)":"avg_monthly_temp"})
    return df_final

In [9]:
df_AVG_RCP26 = get_concatenated_projections_avg('../../datasets/tempetes/Temperatures_Projections/AverageTemp/RCP26')
df_AVG_RCP26.head()

   Month       Year  avg_monthly_temp  ISO
0      1  2020-2039          0.978578  AFG
1      1  2040-2059          1.322590  AFG
2      1  2060-2079          1.236817  AFG
3      1  2080-2099          1.261136  AFG
4      2  2020-2039          3.252059  AFG

In [10]:
df_AVG_RCP26.shape

(8592, 4)

In [11]:
df_AVG_RCP45 = get_concatenated_projections_avg('../../datasets/tempetes/Temperatures_Projections/AverageTemp/RCP45')
df_AVG_RCP45.head()

   Month       Year  avg_monthly_temp  ISO
0      1  2020-2039          1.045068  AFG
1      1  2040-2059          1.614839  AFG
2      1  2060-2079          2.062952  AFG
3      1  2080-2099          2.601022  AFG
4      2  2020-2039          3.516696  AFG

In [12]:
df_AVG_RCP60 = get_concatenated_projections_avg('../../datasets/tempetes/Temperatures_Projections/AverageTemp/RCP60')
df_AVG_RCP60.head()

   Month       Year  avg_monthly_temp  ISO
0      1  2020-2039          0.964392  AFG
1      1  2040-2059          1.440242  AFG
2      1  2060-2079          2.281930  AFG
3      1  2080-2099          2.869084  AFG
4      2  2020-2039          3.281579  AFG

In [13]:
df_AVG_RCP85 = get_concatenated_projections_avg('../../datasets/tempetes/Temperatures_Projections/AverageTemp/RCP85')
df_AVG_RCP85.head()

   Month       Year  avg_monthly_temp  ISO
0      1  2020-2039          1.279178  AFG
1      1  2040-2059          2.334111  AFG
2      1  2060-2079          3.609663  AFG
3      1  2080-2099          4.982605  AFG
4      2  2020-2039          3.679717  AFG

### Max temperatures

In [14]:
def get_concatenated_projections_max(DATASET_FOLDER):
    dir = Path(DATASET_FOLDER)
    dfs_list = []
    for f in dir.glob("*.csv"):
        df = pd.read_csv(f)
        df["ISO"] = str(f).split("_")[-1].split(".")[0]
        dfs_list.append(df)
    df_final = pd.concat(dfs_list)
    df_final = df_final.rename(columns={"Monthly Max-Temperature - (Celsius)":"max_monthly_temp"})
    return df_final

In [15]:
df_MAX_RCP26 = get_concatenated_projections_max('../../datasets/tempetes/Temperatures_Projections/TempMax/RCP26')
df_MAX_RCP26.head()

   Month       Year  max_monthly_temp  ISO
0      1  2040-2059          7.111659  AFG
1      1  2060-2079          7.065372  AFG
2      2  2040-2059          9.994403  AFG
3      2  2060-2079          9.899260  AFG
4      3  2040-2059         15.078864  AFG

In [16]:
df_MAX_RCP45 = get_concatenated_projections_max('../../datasets/tempetes/Temperatures_Projections/TempMax/RCP45')
df_MAX_RCP45.head()

   Month       Year  max_monthly_temp  ISO
0      1  2020-2039          6.830339  AFG
1      1  2040-2059          7.499218  AFG
2      1  2060-2079          8.003123  AFG
3      1  2080-2099          8.671557  AFG
4      2  2020-2039          9.617541  AFG

In [17]:
df_MAX_RCP60 = get_concatenated_projections_max('../../datasets/tempetes/Temperatures_Projections/TempMax/RCP60')
df_MAX_RCP60.head()

   Month       Year  max_monthly_temp  ISO
0      1  2020-2039          6.770321  AFG
1      1  2040-2059          7.309374  AFG
2      1  2060-2079          8.188781  AFG
3      1  2080-2099          8.852700  AFG
4      2  2020-2039          9.267158  AFG

In [18]:
df_MAX_RCP85 = get_concatenated_projections_max('../../datasets/tempetes/Temperatures_Projections/TempMax/RCP85')
df_MAX_RCP85.head()

   Month       Year  max_monthly_temp  ISO
0      1  2020-2039          7.137097  AFG
1      1  2040-2059          8.233803  AFG
2      1  2060-2079          9.624323  AFG
3      1  2080-2099         11.140835  AFG
4      2  2020-2039          9.771748  AFG

### Min temperatures

In [19]:
def get_concatenated_projections_min(DATASET_FOLDER):
    dir = Path(DATASET_FOLDER)
    dfs_list = []
    for f in dir.glob("*.csv"):
        df = pd.read_csv(f)
        df["ISO"] = str(f).split("_")[-1].split(".")[0]
        dfs_list.append(df)
    df_final = pd.concat(dfs_list)
    df_final = df_final.rename(columns={"Monthly Min-Temperature - (Celsius)":"min_monthly_temp"})
    return df_final

In [20]:
df_MIN_RCP26 = get_concatenated_projections_min('../../datasets/tempetes/Temperatures_Projections/TempMin/RCP26')
df_MIN_RCP26.head()

   Month       Year  min_monthly_temp  ISO
0      1  2020-2039         -4.344106  AFG
1      1  2040-2059         -3.944310  AFG
2      1  2060-2079         -4.103086  AFG
3      1  2080-2099         -4.102738  AFG
4      2  2020-2039         -2.740247  AFG

In [21]:
df_MIN_RCP45 = get_concatenated_projections_min('../../datasets/tempetes/Temperatures_Projections/TempMin/RCP45')
df_MIN_RCP45.head()

   Month       Year  min_monthly_temp  ISO
0      1  2020-2039         -4.260758  AFG
1      1  2040-2059         -3.753701  AFG
2      1  2060-2079         -3.299054  AFG
3      1  2080-2099         -2.801507  AFG
4      2  2020-2039         -2.443614  AFG

In [22]:
df_MIN_RCP60 = get_concatenated_projections_min('../../datasets/tempetes/Temperatures_Projections/TempMin/RCP60')
df_MIN_RCP60.head()

   Month       Year  min_monthly_temp  ISO
0      1  2020-2039         -4.369748  AFG
1      1  2040-2059         -3.890993  AFG
2      1  2060-2079         -3.059925  AFG
3      1  2080-2099         -2.514032  AFG
4      2  2020-2039         -2.602260  AFG

In [23]:
df_MIN_RCP85 = get_concatenated_projections_min('../../datasets/tempetes/Temperatures_Projections/TempMin/RCP85')
df_MIN_RCP85.head()

   Month       Year  min_monthly_temp  ISO
0      1  2020-2039         -4.063356  AFG
1      1  2040-2059         -3.014274  AFG
2      1  2060-2079         -1.817561  AFG
3      1  2080-2099         -0.495025  AFG
4      2  2020-2039         -2.246836  AFG

# Test sets prep

### RCP26

In [29]:
dfs_list = [df_AVG_RCP26, df_MIN_RCP26, df_MAX_RCP26]
temp_proj_rcp26 = reduce(lambda x, y: pd.merge(x, y, on = ["ISO", "Month", "Year"]), dfs_list)
temp_proj_rcp26.head()

   Month       Year  avg_monthly_temp  ISO  min_monthly_temp  max_monthly_temp
0      1  2040-2059          1.322590  AFG         -3.944310          7.111659
1      1  2060-2079          1.236817  AFG         -4.103086          7.065372
2      2  2040-2059          3.862945  AFG         -2.091364          9.994403
3      2  2060-2079          3.819484  AFG         -2.134049          9.899260
4      3  2040-2059          8.586120  AFG          1.870266         15.078864

### RCP45

In [28]:
dfs_list = [df_AVG_RCP45, df_MIN_RCP45, df_MAX_RCP45]
temp_proj_rcp45 = reduce(lambda x, y: pd.merge(x, y, on = ["ISO", "Month", "Year"]), dfs_list)
temp_proj_rcp45.head()

,Month,Year,avg_monthly_temp_x,ISO,avg_monthly_temp_y,min_monthly_temp
0,1,2020-2039,0.978578,AFG,0.978578,-4.344106
1,1,2040-2059,1.322590,AFG,1.322590,-3.944310
2,1,2060-2079,1.236817,AFG,1.236817,-4.103086
3,1,2080-2099,1.261136,AFG,1.261136,-4.102738
4,2,2020-2039,3.252059,AFG,3.252059,-2.740247

### RCP60

In [30]:
dfs_list = [df_AVG_RCP60, df_MIN_RCP60, df_MAX_RCP60]
temp_proj_rcp60 = reduce(lambda x, y: pd.merge(x, y, on = ["ISO", "Month", "Year"]), dfs_list)
temp_proj_rcp60.head()

   Month       Year  avg_monthly_temp  ISO  min_monthly_temp  max_monthly_temp
0      1  2020-2039          0.964392  AFG         -4.369748          6.770321
1      1  2040-2059          1.440242  AFG         -3.890993          7.309374
2      1  2060-2079          2.281930  AFG         -3.059925          8.188781
3      1  2080-2099          2.869084  AFG         -2.514032          8.852700
4      2  2020-2039          3.281579  AFG         -2.602260          9.267158

### RCP85

In [31]:
dfs_list = [df_AVG_RCP85, df_MIN_RCP85, df_MAX_RCP85]
temp_proj_rcp85 = reduce(lambda x, y: pd.merge(x, y, on = ["ISO", "Month", "Year"]), dfs_list)
temp_proj_rcp85.head()

   Month       Year  avg_monthly_temp  ISO  min_monthly_temp  max_monthly_temp
0      1  2020-2039          1.279178  AFG         -4.063356          7.137097
1      1  2040-2059          2.334111  AFG         -3.014274          8.233803
2      1  2060-2079          3.609663  AFG         -1.817561          9.624323
3      1  2080-2099          4.982605  AFG         -0.495025         11.140835
4      2  2020-2039          3.679717  AFG         -2.246836          9.771748